* {
    margin: 0;
    padding: 0;
    font-family: inter;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;  /* Define duas linhas: uma para o conteúdo (que ocupa o máximo de espaço) e uma para o rodapé */
    height: 100%;
}

a{
    text-decoration: none;
    transition: transform 0.3s ease;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: #A91818 solid 2px;
}
header .header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: auto;
}
header .header-left img{
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}
header .header-left h1{
    color: #A91818;
    margin-top: 15px;
    margin-left: 15px;
    font-family: inter;
    transition: transform 0.3s ease ;
}
header .header-left h1:hover{
    transform: scale(1.05);
}
header .header-right{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}

.header-right h2{
    color: #A91818;
    font-family: inter;
    font-size: 25;
    transition: 0.3s ease ;
}
.header-right h2:hover{
    transform: scale(1.05);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 80%;
    height: 81vh;
    
}

.viagem{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
    width: 50%;
    height: 700px;
    border-radius: 30px;
    background-color: #A91818;
    border: solid 2px #000;

}
.selectLinha{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}
.viagem .selectLinha .inicio{
    display: flex;
    flex-direction: column;
}
.inicio p{
    color: white;
    font-size: 23px;
    font-weight: 600;
}
.inicio select{
    width: 90%;
    height: 30px;
    border: #ffffff solid 2px;
    border-radius: 30px;
    text-align: center;
}
.viagem .selectLinha .destino{
    display: flex;
    flex-direction: column;
}
.destino p{
    color: white;
    font-size: 23px;
    font-weight: 600;
}
.destino select{
    width: 90%;
    height: 30px;
    border: #ffffff solid 2px;
    border-radius: 30px;
    text-align: center;
}
.viagem img{
    width: 700px;
    border: solid 3px #000;
    border-radius: 30px;
}

.dados{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5%;
    width: 30%;
    height: 700px;
    border-radius: 30px;
    background-color: #A91818;
    border: solid 2px #000;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.campo label {
    margin-bottom: 5px;
    color:#ffffff;
    font-size: 20px;
    font-weight: 700;
}

.campo input {
    width: 95%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: black;
    outline: none;
}


.dados textarea {
    width: 90%;
    height: 30%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    background-color: white;
    color: #000;
    resize: none; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none; 
}

.dados p{
    color:#ffffff;
    font-size: 20px;
    font-weight: 700;
}



/* Estilo para o footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 20px;
}
.footer .div-left{
    width: 30%;
    display: flex;
    align-items: center;
}
.footer .div-left img{
    width: 50px;
}
.footer .div-left span{
    color: #A91818;
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    
}
.footer .div-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.footer .div-center img{
    width: 200px;
}
.footer .div-right{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30%;
}
.footer .div-right img{
    width: 50px;
    margin-right: 20px;
}

