* {
    margin: 0;
    padding: 0;
    font-family: inter;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;  /* Define duas linhas: uma para o conteúdo (que ocupa o máximo de espaço) e uma para o rodapé */
    height: 100%;
}

a{
    text-decoration: none;
    transition: transform 0.3s ease;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: #A91818 solid 2px;
}
header .header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    height: auto;
}
header .header-left img{
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
}
header .header-left h1{
    color: #A91818;
    margin-top: 15px;
    margin-left: 15px;
    font-family: inter;
    transition: transform 0.3s ease ;
}
header .header-left h1:hover{
    transform: scale(1.05);
}
header .header-right{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}

.header-right h2{
    color: #A91818;
    font-family: inter;
    font-size: 25;
    transition: 0.3s ease ;
}
.header-right h2:hover{
    transform: scale(1.05);
}



































/* Estilo para o footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 20px;
}
.footer .div-left{
    width: 30%;
    display: flex;
    align-items: center;
}
.footer .div-left img{
    width: 50px;
}
.footer .div-left span{
    color: #A91818;
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    
}
.footer .div-center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.footer .div-center img{
    width: 200px;
}
.footer .div-right{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30%;
}
.footer .div-right img{
    width: 50px;
    margin-right: 20px;
}

